.header{
  text-align: center;
}

h3 {
  margin-bottom: 0;
  text-align: left;
  
}

.facts{
  border: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

tr:nth-child(even) {
  background-color: rgba(89, 119, 163, 0.452);
}


.links{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
li a{
  border: 3px solid blue;
  list-style-type: none;
  padding: 5px 5px 5px;
  margin: 5px 5px 5px ;
  background-color: blue;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: azure;
  width: 100%;

  
}

